html,
body {
  background-color: black;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

img {
  height: 100%;
  width: 100%;
}

.container {
  position: relative;
  text-align: center;
}

#hora {
  color: white;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
}
